# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## player names

seeing if it will show the player names

### Test Data Used



### Test Result

![Animation.gif](screenshots/Animation.gif)

results: yes
---

## Example Test Name

Example test description. Example test description.Example test description. Example test description.Example test description. Example test description.

### Test Data Used

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.

---

